section{
    background-color:#1A5276 ;
      height: 100vh;
  }
  #home {
    padding: 40px 20px;
    text-align: center;
  }
  .fila {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .der {
    max-width: 600px;
  }
  h2.welcome {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #641E16;
    font-weight: bold;
  }
  
  h2.laberinto {
    font-size: 2em;
    margin-bottom: 20px;
    color: #7E5109;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2.5em;
  }
  
  h3.parrafo {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #b3adad;
    font-weight: bold;
    
  }
  .niveles {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
  }
  .niveles span {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5c738d;
    border: 1px solid #641E16;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.3s;
  }
  
  .niveles span:hover {
    transform: scale(1.05);
  }
  
  .niveles img {
    border-radius: 8px;
    margin-bottom: 10px;
  }
  p{
    color: black;
    text-align: center;
    font-size: 25px;

  }

#miBoton {
  position: absolute;
  left: 860px;
  padding: 10px 50px;
  background-color: #0b4d17;
  text-shadow: 2px 2px 4px rgba(104, 10, 10, 0.8);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 35px;
}

#miBoton:hover {
  background-color: #416848;
}

@media (max-width: 768px) {
    .fila {
        flex-direction: column;
    }
  
    .niveles {
        flex-direction: column;
        gap: 10px;
    }
  }
  