/* Estilos generales */

/*body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #981010;
}*/
section{
    /*background:linear-gradient(#1A5276,#585754);
    color: rgba(126, 126, 126, 0.856);*/
    background-color:#1A5276 ;
      height: 100vh;
  }
  
  /* Encabezado 
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  */
  /* Sección principal */
  #home {
    padding: 40px 20px;
    text-align: center;
  }
  
  /* Fila de contenido principal */
  .fila {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  
  /* Sección derecha de la fila */
  .der {
    max-width: 600px;
  }
  
  /* Títulos y párrafos */
  h2.welcome {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #641E16;
    font-weight: bold;
  }
  
  h2.laberinto {
    font-size: 2em;
    margin-bottom: 20px;
    color: #7E5109;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2.5em;
  }
  
  h3.parrafo {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #b3adad;
    font-weight: bold;
    
  }
  
  /* Contenedor de niveles */
  .niveles {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  /* Estilo para cada nivel */
  .niveles span {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5c738d;
    border: 1px solid #641E16;/*#7E5109;*/
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.3s;
  }
  
  .niveles span:hover {
    transform: scale(1.05);
  }
  
  .niveles img {
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  /* Botones */
  .botones {
    /*display: flex;*/
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .botones a {
    align-items: center;
    display: inline-block;
    /*padding: 10px 20px;*/
    padding: 15px;
    color: #1A5276;
    background-color: #06362c;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 60px solid;
    text-shadow: 2px 2px 4px rgba(22, 20, 20, 0.5); /* Sombreado */
  
  }
  
  .botones a:hover {
    background-color: #0B5345;
  }
  
  /* Ajustes responsivos */
  @media (max-width: 768px) {
    .fila {
        flex-direction: column;
    }
  
    .niveles {
        flex-direction: column;
        gap: 10px;
    }
  
    .botones {
        flex-direction: column;
        gap: 20px;
    }
  }
  