<div class="buscaminas-container">

	<label class="dificultad">Dificultad: </label>
	<select id="dificultad">
	  <option value="0.1">Fácil</option>
	  <option value="0.15">Medio</option>
	  <option value="0.2">Difícil</option>
	</select>
	<br><br>
	<button (click)="crearTablero(5, 5)">Pequeño</button>
	<button (click)="crearTablero(10, 10)">Sencillo</button>
	<button (click)="crearTablero(15, 15)">Medio</button>
	<button (click)="crearTablero(20, 20)">Grande</button>
	<button (click)="nuevoJuego()">Generar Tabla</button>
	<br><br>
	<table cellspacing="0" cellpadding="0" id="tablero"></table>
	<button id="miBoton" (click)="navigateToInicio()">Inicio</button>
</div>
  