:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #13905d;
    height: 100vh;
    user-select: none;
}
td {
	text-align: center;
	font-size: 120%;
	color: white;
	}
.fa-solid, .fas{
	display: flex;
	justify-content: center;
	align-items: center;
}

label {
    font-size: 20px;
    font-family: "Open Sans";
}

button {
    background: grey;
    cursor: pointer;
    margin: 5px;
}

table {
    background: slategray;
    margin: 20px auto;
}

td {
    border: rgb(0, 0, 0, 0.25) 1px solid;
    text-align: center;
    font-size: 120%;
    color: white;
    width: 30px; /* Asegura que todas las celdas tengan el mismo tamaño */
    height: 30px; /* Asegura que todas las celdas tengan el mismo tamaño */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 3px 3px 0 0 rgba(255, 255, 255, 0.5), inset -3px -3px 0 0 rgba(0, 0, 0, 0.5);
    background-color: #7f8c8d;
}

td i {
    color: black;
}

td[data-valor="-1"] {
    color: red; /* Color de las bombitas */
}

td[data-valor="0"] {
    color: white; /* Color de los números */
}

.numero {
    color: white; /* Cambia el color de los números a blanco */
    font-weight: bold; /* Opcional: hace que los números sean negritas */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Asegura que el número esté centrado verticalmente */
    width: 100%; /* Asegura que el número esté centrado horizontalmente */
}

.bomb-icon {
    color: red; /* Color de las bombitas */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.centered-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
 
  
/* Estilo para centrar el contenido de las celdas */
td {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  /* Estilo para el ícono de bomba */
  .bomba-icon {
	color: red;
  }
  
  /* Estilo para el ícono de bandera */
  .bandera-icon {
	color: white;
	background: cadetblue;
  }
  