<section id="juegos">
    <div class="animated-bg"></div>
    <div class="container-fluid d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <div class="colorfull">
                <div class="texto">Juegos UTM</div>
                <div class="button-container">
                    <button class="btn btn-primary btn-lg btn-rect" (click)="redirectToBuscaminas()">Buscaminas</button>
                    <button class="btn btn-success btn-lg btn-rect" (click)="redirectToAjedrez()">Ajedrez</button>
                    <button class="btn btn-lg btn-rect" (click)="redirectToLaberinto()">Laberinto</button>
                    <button class="btn btn-warning btn-lg btn-rect" (click)="redirectToBrickBreaker()">Brick Breaker</button>
                </div>
            </div>
        </div>
    </div> 
</section>
