.brick-breaker-canvas {
    background-image: url("../../assets/imagenes/espacio1.jpeg"); 
    font-size: 23px;
}

.principal{
    background-image: url("../../assets/imagenes/bg.gif");
}

.paddle {
    width:100px;
    height:20px;
    /* position: absolute;
    bottom: 5vh; */
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, #f19926 0%, rgba(208, 208, 208, 1) 100%);
    /* display: flex;
    justify-content: space-between;
    align-items: center; 
    background: rgb(0, 0, 0);*/
    border: 2px solid #00eeff;
    box-shadow: inset 0 0 20px #56f326;
    border-radius: 5px;
}

.bola {
    height:20px;
    width:20px;
    position: absolute;
    border-radius: 10px;
    border: 10px solid #f8290e;
}

.principal button {
    background-color: #1f9123; /* Color de fondo (verde) */
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer;  
  }
  
