/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Press Start 2P', cursive; /* Tipografía gamer */
    color: #676767; /* Texto blanco */
    margin:rgb(255, 255, 255)
}